.account-form img {
  margin-top: 5vh;
}

.account-form-box {
  width: 90vw;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin: 5vh auto;
}

.account-form-box h2 {
  text-align: center;
}

.account-form-box p {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.account-form-box a {
  text-decoration: none;
}

.form-row {
  display: flex;
  padding: 8px 0;
}

.form-row label {
  flex: 1;
}

.form-row input {
  flex: 3;
}

@media only screen and (min-width: 568px) {
  .account-form-box {
    width: 450px;
  }
}
