.homepage-main {
  padding: 0 4vw;
}

.icon-main {
  height: 300px;
  display: inherit;
  margin: 0 auto 30px;
}

.homepage-header {
  text-align: center;
  margin: 10px 0;
  font-family: 'Monda', sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 25px;
}

.instruction-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.instruction {
  text-align: center;
  height: 200px;
  padding: 10px;
  width: 250px;
  margin: 10px auto 20px;
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
}

.homepage-btn-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.homepage-btn {
  margin: 20px;
  padding: 8px;
  width: auto;
  height: auto;
  font-size: 20px;
  background-color: #1a5666;
  color: white;
}

.footer {
  height: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1a5666;
}

.footer p {
  margin: 0;
  color: white;
}

.fa-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  color: grey;
  opacity: 0.7;
  transform: translate(-50%, 50%);
}

.loading-text {
  font-size: 30px;
  font-weight: 300;
  padding: 8px;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 20px;
  opacity: 0.95;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-30%, 50%);
}
