.search-form-wrapper,
.recipient-form-wrapper {
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto 10px;
}

.photo-credit {
  margin-left: 15%;
  bottom: 0;
}

.footer {
  text-align: center;
}
