.search-form-wrapper,
.message-form-wrapper,
.recipient-form-wrapper {
  width: 50%;
  border: 1px solid black;
  margin: 90px auto 20px;
}

.message-form-wrapper textarea {
  width: 50%;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}
