/* Flip controls */
.design-container {
  width: 70%;
  height: 60vh;
  padding: 0;
  margin: auto;
  position: relative;
  background-color: transparent;
  perspective: 2000px;
  margin-bottom: 20px;
}

.design-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .design-container:hover */
.design-container:hover .design-container-inner {
  transform: rotateY(180deg);
}
