h1 {
  font-style: italic;
  color: #373fff;
  height: 20%;
  padding-top: 10%;
}

.hero {
  height: 500px;
  padding: 10% 0 10% 0;
}

h1,
h3,
section,
footer {
  display: block;
  text-align: center;
}

.userguide-1,
.userguide-2,
.userguide-3 {
  height: 100px;
  padding: 10% 0 10% 0;
  width: 300px;
  margin: 10px auto;
  border: 1px solid grey;
}

section:nth-child(even) {
  background-color: grey;
}

footer {
  background-color: grey;
}
