body {
  background-color: #efeeeb;
}

.icon-main {
  height: 400px;
  display: inherit;
  margin: 0 auto;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h3 {
  text-align: center;
}

.hero {
  height: 500px;
  padding: 10% 0 10% 0;
}

.landing-page-header {
  text-align: center;
}

.instruction-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.instruction {
  text-align: center;
  height: 200px;
  padding: 10px;
  width: 250px;
  margin: 10px auto;
  border: 1px solid grey;
}

.landing-page-btns {
  text-align: center;
}
.landing-page-btn {
  margin: 20px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  background-color: green;
}

.landing-page-btn a {
  color: white;
  text-decoration: none;
}
