* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  /*   margin: 2em; */
}

h1 {
  font-style: italic;
  color: #373fff;
  height: 20%;
  padding-top: 10%;
}

.hero {
  height: 500px;
  padding: 10% 0 10% 0;
}

h1,
h3,
section,
footer {
  display: block;
  text-align: center;
}

section {
  height: 100px;
  padding: 10% 0 10% 0;
}

section:nth-child(even) {
  background-color: grey;
}

footer {
  background-color: grey;
}
