nav {
  height: 60px;
  position: fixed;
  /* display: block; */
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 100;
  background-color: grey;
}

.nav-logo {
  display: inline-block;
  /* float: left; */
}

/* .login-btn,
.signup-btn,
.account-btn,
.logout-btn {
  display: inline-block;
  /* float: right; */

.nav-btns {
  float: right;
}
