nav {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 100;
  background-color: grey;
  display: flex;
}

.nav-icon {
  height: 35px;
  margin-top: -8px;
  flex: 1;
}

.nav-icon img {
  height: 100%;
}

.nav-demo-btn {
  position: absolute;
  right: 50%;
  flex: 1;
}

.nav-right-btn {
  display: inline-block;
  flex: 1;
}
