body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.login-modal {
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 10% auto;
}

.login-modal input {
  display: block;
}
