.card-btn-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.create-page-btn {
  display: inline;
  margin-right: 20px;
  padding: 10px;
  background-color: #1a5666;
}

.create-page-btn a,
.create-page-btn {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.create-page-form-wrapper {
  width: 98%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto 15px;
}

.create-page-form-row {
  display: flex;
  padding: 10px 10px 10px 0;
}

.create-page-form-row input {
  flex: 3;
  margin-right: 10px;
}

.create-page-form-row button {
  flex: 1;
}

.create-page-form-wrapper label {
  font-family: 'Monda', sans-serif;
  font-weight: 100;
}

.card-outer {
  width: 98vw;
  height: 66vw;
}

@media only screen and (min-width: 568px) {
  .create-page-form-wrapper {
    width: 80vw;
  }

  .card-outer {
    width: 80vw;
    height: 53vw;
  }
}

@media only screen and (min-width: 900px) {
  .create-page-form-wrapper {
    width: 750px;
  }

  .card-outer {
    width: 750px;
    height: 495px;
  }
}
