.card-outer {
  width: 98vw;
  height: 66vw;
}

/*    Preview, Save, Send buttons   */
.card-btn-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.create-page-btn {
  padding: 10px;
  background-color: #1a5666;
}

.create-page-btn a,
.create-page-btn {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/*    Image, Message, Recipient forms   */
.create-page-form-wrapper {
  width: 98%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto 15px;
}

.create-page-form-row {
  display: flex;
  padding: 10px 10px 10px 0;
}

.create-page-form-row input {
  flex: 3;
  margin-right: 10px;
}

.create-page-form-row button {
  flex: 1;
}

.create-page-form-wrapper label {
  font-family: 'Monda', sans-serif;
  font-weight: 100;
}

/*    Saved cards   */
.saved-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 30px auto;
  border: 2px lightgrey solid;
  border-radius: 2%;
  margin-bottom: 20px;
  position: relative;
}

.saved-cards-container-label {
  position: absolute;
  margin: 0;
  top: 0;
  left: 10px;
  font-weight: 500;
  background-color: #efeeeb;
  transform: translate(0, -50%);
}

.saved-card {
  display: flex;
  position: relative;
  margin: 2vh 1vh;
  box-shadow: 5px 10px 18px #888888;
}

.saved-card:hover {
  opacity: 0.8;
}

.saved-card-flip-instruction {
  display: none;
  margin: 0;
  opacity: 0.8;
  font-size: 1.5vh;
  color: white;
  background-color: #4d808b;
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.saved-card:hover {
  cursor: pointer;
}

.saved-card:hover > .saved-card-flip-instruction {
  display: block;
}

.delete-card-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

/* Delete card modal   */
.delete-card-modal {
  height: 25vh;
  width: 40vw;
  padding: 2vh;
  text-align: center;
  font-size: 2vh;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  right: 50vw;
  top: 90vh;
  transform: translate(50%, 50%);
}

.delete-card-modal button {
  margin: 0 10px 10px 0;
  font-size: 2vh;
}

.delete-card-modal button:nth-child(odd) {
  color: white;
  background-color: red;
}

@media only screen and (min-width: 568px) {
  .create-page-form-wrapper {
    width: 80vw;
  }

  .card-outer {
    width: 80vw;
    height: 53vw;
  }
}

@media only screen and (min-width: 900px) {
  .create-page-form-wrapper {
    width: 750px;
  }

  .card-outer {
    width: 750px;
    height: 495px;
  }
}
