.search-form-wrapper {
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto 15px;
}

.image-form-row {
  display: flex;
  padding: 10px 10px 10px 0;
}

.image-form-row input {
  flex: 3;
  margin-right: 10px;
}

.image-form-row button {
  flex: 1;
}
