.message-form-wrapper {
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto 15px;
}

.message-form-row {
  display: flex;
  height: 80px;
  margin-top: 10px;
}

.message-textarea {
  flex: 1;
}
