.user-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.user-card img {
  margin: 10px auto 20px;
  box-shadow: 5px 10px 18px #888888;
}
